apiVersion: v1
kind: ServiceAccount
automountServiceAccountToken: false
metadata:
  name: contact-form-app
  namespace: contact-form
  annotations:
    eks.amazonaws.com/role-arn: "{{ app_role_arn }}"